<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/public/main.css" /> -->
</head>
<body>   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <form class="regForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名</label>
                                <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2">确认密码</label>
                                <input type="password" class="form-control" name="repassword" id="exampleInputPassword2" placeholder="确认密码">
                            </div>
                            <!-- <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div> -->
                            <div class="checkbox">
                                <label>
                                <input type="checkbox"> Check me out
                                </label>
                            </div>
                            <button type="button" class="btn btn-default subBtn">Submit</button>
                        </form>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
    

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $('.subBtn').on('click',function(){
            $.ajax({
                type:'post',
                url:'/api/user/register',
                data: {
                    username: $('.regForm').find('[name="username"]').val(),
                    password: $('.regForm').find('[name="password"]').val(),
                    repassword: $('.regForm').find('[name="repassword"]').val(),
                },
                dataType:'json',
                success: function(res){
                    console.log(res)
                }
            })
        })
    </script>
</body>
</html>